#root{
    -fx-background-color: #F5F7FA;
}

#cabecalho{
    -fx-background-color: #4267B2;
    -fx-padding: 15px;
    -fx-alignment: CENTER_LEFT;
}
#titulo{
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
#status{
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

#indicadorStatus{
    -fx-fill: #42B72A;
}

#area-chat{
    -fx-background-color: #F5F6F7;
    -fx-padding: 15px;
}
#scroll-chat{
     -fx-background-color: #F5F6F7;
     -fx-border-color: transparent;
}
.mensagem-usuario{
    -fx-background-color: #E7F3FF;  
    -fx-background-radius: 15px;  
    -fx-padding: 10px;
}

.mensagem-bot{
    -fx-background-color: white;
    -fx-background-radius: 15px; 
    -fx-padding: 10px;

}
