#root{
    -fx-background-color: #F5F7FA;
}

#cabecalho{
    -fx-background-color: #4267B2;
    -fx-padding: 15px;
    -fx-alignment: CENTER_LEFT;
}
#titulo{
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}
#status{
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

#indicadorStatus{
    -fx-fill: #42B72A;
}

#area-chat{
    -fx-background-color: #F5F6F7;
    -fx-padding: 15px;
}
#scroll-chat{
     -fx-background-color: #F5F6F7;
     -fx-border-color: transparent;
}
.nome-bot{
    -fx-text-fill: #4267B2;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 5px;
}
.mensagem-usuario{
    -fx-background-color: #E7F3FF;  
    -fx-background-radius: 15px;  
    -fx-padding: 10px;
    -fx-text-fill: #1C1E21;
}

.mensagem-bot{
    -fx-background-color: white;
    -fx-background-radius: 15px; 
    -fx-padding: 10px;

}

#area-entrada{
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-aligment: CENTER;
}

#campo-mensagem{
    -fx-background-color:#F0F2F5;
    -fx-background-radius: 20px;
    -fx-border-color: transparent;
    -fx-padding: 10px 15px;
    -fx-font-size: 14px;
}

#campo-mensagem:focused{
    -fx-background-color: white;
    -fx-border-color: #4267B2;
    -fx-border-radius: 20px;
}

#botao-enviar{
    -fx-background-color: #4267B2;
    -fx-text-fill: white;
    -fx-background-radius: 50%;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-min-width:40px;
    -fx-min-height:40px;
    -fx-max-width:40px;
    -fx-max-height:40px;
    -fx-padding: 0 ;
    -fx-cursor: hand;
}
#botao-enviar:hover{
    -fx-background-color: #365899;
}